/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.fw-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-italic {
  font-style: italic; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.product-hover:hover {
  opacity: 0.8; }

.product-bg-hover:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.fz-xxs {
  font-size: 14px; }

.fz-xs {
  font-size: 16px; }

.fz-sm {
  font-size: 20px; }

.fz-reg {
  font-size: 24px; }

.fz-l {
  font-size: 36px; }

.fz-xl {
  font-size: 48px; }

.fz-xxl {
  font-size: 64px; }

.color-primary {
  color: #AA0601; }

.color-secondary-dark {
  color: #650300; }

.color-secondary-light {
  color: #FBF2F2; }

.color-white {
  color: #fff; }

.color-black {
  color: #000; }

.color-black-light {
  color: #212529; }

.color-gray {
  color: #CED4DA; }

.color-gray-dark {
  color: #495057; }

.color-gray-light {
  color: #00000020; }

.bgc-primary {
  background-color: #AA0601; }

.bgc-secondary-dark {
  background-color: #650300; }

.bgc-secondary-light {
  background-color: #FBF2F2; }

.bgc-white {
  background-color: #fff; }

.bgc-black {
  background-color: #000; }

.bgc-black-light {
  background-color: #212529; }

.bgc-gray {
  background-color: #CED4DA; }

.bgc-gray-dark {
  background-color: #495057; }

.bgc-gray-light {
  background-color: #00000020; }

.pt-1 {
  padding-top: 8px; }

.pt-2 {
  padding-top: 16px; }

.pt-3 {
  padding-top: 24px; }

.pt-4 {
  padding-top: 32px; }

.pt-5 {
  padding-top: 40px; }

.pt-6 {
  padding-top: 48px; }

.pt-7 {
  padding-top: 56px; }

.pt-8 {
  padding-top: 64px; }

.pt-9 {
  padding-top: 72px; }

.pt-10 {
  padding-top: 80px; }

.pb-1 {
  padding-bottom: 8px; }

.pb-2 {
  padding-bottom: 16px; }

.pb-3 {
  padding-bottom: 24px; }

.pb-4 {
  padding-bottom: 32px; }

.pb-5 {
  padding-bottom: 40px; }

.pb-6 {
  padding-bottom: 48px; }

.pb-7 {
  padding-bottom: 56px; }

.pb-8 {
  padding-bottom: 64px; }

.pb-9 {
  padding-bottom: 72px; }

.pb-10 {
  padding-bottom: 80px; }

.pl-1 {
  padding-left: 8px; }

.pl-2 {
  padding-left: 16px; }

.pl-3 {
  padding-left: 24px; }

.pl-4 {
  padding-left: 32px; }

.pl-5 {
  padding-left: 40px; }

.pl-6 {
  padding-left: 48px; }

.pl-7 {
  padding-left: 56px; }

.pl-8 {
  padding-left: 64px; }

.pl-9 {
  padding-left: 72px; }

.pl-10 {
  padding-left: 80px; }

.pr-1 {
  padding-right: 8px; }

.pr-2 {
  padding-right: 16px; }

.pr-3 {
  padding-right: 24px; }

.pr-4 {
  padding-right: 32px; }

.pr-5 {
  padding-right: 40px; }

.pr-6 {
  padding-right: 48px; }

.pr-7 {
  padding-right: 56px; }

.pr-8 {
  padding-right: 64px; }

.pr-9 {
  padding-right: 72px; }

.pr-10 {
  padding-right: 80px; }

.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-3 {
  margin-top: 24px; }

.mt-4 {
  margin-top: 32px; }

.mt-5 {
  margin-top: 40px; }

.mt-6 {
  margin-top: 48px; }

.mt-7 {
  margin-top: 56px; }

.mt-8 {
  margin-top: 64px; }

.mt-9 {
  margin-top: 72px; }

.mt-10 {
  margin-top: 80px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7 {
  margin-bottom: 56px; }

.mb-8 {
  margin-bottom: 64px; }

.mb-9 {
  margin-bottom: 72px; }

.mb-10 {
  margin-bottom: 80px; }

.ml-1 {
  margin-left: 8px; }

.ml-2 {
  margin-left: 16px; }

.ml-3 {
  margin-left: 24px; }

.ml-4 {
  margin-left: 32px; }

.ml-5 {
  margin-left: 40px; }

.ml-6 {
  margin-left: 48px; }

.ml-7 {
  margin-left: 56px; }

.ml-8 {
  margin-left: 64px; }

.ml-9 {
  margin-left: 72px; }

.ml-10 {
  margin-left: 80px; }

.mr-1 {
  margin-right: 8px; }

.mr-2 {
  margin-right: 16px; }

.mr-3 {
  margin-right: 24px; }

.mr-4 {
  margin-right: 32px; }

.mr-5 {
  margin-right: 40px; }

.mr-6 {
  margin-right: 48px; }

.mr-7 {
  margin-right: 56px; }

.mr-8 {
  margin-right: 64px; }

.mr-9 {
  margin-right: 72px; }

.mr-10 {
  margin-right: 80px; }

body {
  font-family: 'Roboto','Noto Sans TC', sans-serif,-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  width: 100%;
  height: auto;
  vertical-align: top; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1296px;
  margin: auto;
  padding: 0 12px; }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 969px; } }

.section-container {
  max-width: 1296px;
  margin: auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media screen and (max-width: 992px) {
    .section-container {
      max-width: 969px;
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media screen and (max-width: 767px) {
    .section-container {
      padding-top: 40px;
      padding-bottom: 40px; }
      .section-container h3 {
        font-size: 24px; } }
  .section-container h2 {
    font-size: 42px; }
    @media screen and (max-width: 767px) {
      .section-container h2 {
        font-size: 24px; } }

header {
  position: relative;
  z-index: 2; }
  header .logo {
    width: 80px;
    height: 48px;
    background: url(../images/logo-white.png) center center/cover; }
    header .logo a {
      display: block;
      height: 100%;
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden; }
  header .navbar {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .menu a {
      display: inline-block;
      padding: 25px 32px 25px 32px; }
      header .menu a:hover {
        background-color: #650300; }
      @media screen and (max-width: 767px) {
        header .menu a {
          display: block; } }
    @media screen and (max-width: 767px) {
      header .menu {
        display: block;
        background-color: #AA0601;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        height: 0;
        overflow: hidden; } }
  header .menu.open {
    height: 296px; }
  @media screen and (max-width: 767px) {
    header .mobileMenu-switch {
      display: block; } }
  header .mobileMenu-switch,
  header .mobileMenu-close {
    font-size: 30px;
    cursor: pointer; }

@media screen and (max-width: 767px) {
  .footer {
    padding: 24px 0; } }

.footer a:hover {
  color: #000; }

.footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: solid 1px #fff; }
  @media screen and (max-width: 767px) {
    .footer-navbar {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .footer-navbar .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px; }
    @media screen and (max-width: 767px) {
      .footer-navbar .footer-menu {
        display: none; } }
  .footer-navbar .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-navbar .footer-icons li + li {
      margin-left: 32px; }
      @media screen and (max-width: 992px) {
        .footer-navbar .footer-icons li + li {
          margin-left: 16px; } }
      @media screen and (max-width: 767px) {
        .footer-navbar .footer-icons li + li {
          margin-left: 8px; } }
  .footer-navbar .footer-contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media screen and (max-width: 767px) {
    .footer-navbar .footer-contact a {
      font-size: 16px; }
    .footer-navbar .footer-contact span {
      margin-right: 8px; } }
  .footer-navbar .footer-icon {
    width: 48px;
    height: 48px; }
    @media screen and (max-width: 767px) {
      .footer-navbar .footer-icon {
        width: 24px;
        height: 24px; } }

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .policy {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 16px; }
      .policy p {
        margin-bottom: 8px; } }
  .policy .policy-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 767px) {
      .policy .policy-list {
        display: block;
        margin-right: 0;
        margin-bottom: 8px; } }

.banner {
  height: calc(100vh - 74px);
  background: url(../images/home-header.png) center center/cover; }
  .banner .banner-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .banner a {
    padding: 6px 12px; }
    .banner a:hover {
      background-color: #650300; }
  @media screen and (max-width: 992px) {
    .banner {
      background-position-x: 30%; } }
  @media screen and (max-width: 767px) {
    .banner {
      height: 396px; }
      .banner h4 {
        font-size: 16px; }
      .banner h3 {
        font-size: 24px; }
      .banner a {
        font-size: 20px; } }

.sellingPoint-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px; }
  .sellingPoint-icons li {
    width: 306px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 992px) {
      .sellingPoint-icons li {
        width: 48%; } }
    @media screen and (max-width: 767px) {
      .sellingPoint-icons li {
        width: 100%; }
        .sellingPoint-icons li h4 {
          margin-top: 24px; }
        .sellingPoint-icons li p {
          margin-top: 8px; } }
  @media screen and (max-width: 992px) {
    .sellingPoint-icons {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media screen and (max-width: 767px) {
    .sellingPoint-icons {
      row-gap: 32px; } }
  .sellingPoint-icons .sellingPoint-icon {
    width: 84px;
    height: 84px; }

.index-title {
  margin-bottom: 48px; }
  @media screen and (max-width: 992px) {
    .index-title {
      margin-bottom: 24px; } }

.classicSeries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px; }
  .classicSeries li {
    width: 33%; }
    @media screen and (max-width: 767px) {
      .classicSeries li {
        width: 100%; } }
  @media screen and (max-width: 992px) {
    .classicSeries {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: unset;
         -moz-column-gap: unset;
              column-gap: unset;
      row-gap: 24px; } }
  @media screen and (max-width: 992px) {
    .classicSeries h4 {
      margin-bottom: 24px; } }

.co-branding {
  background: url(../images/index-bg.png) center center/cover; }
  @media screen and (max-width: 767px) {
    .co-branding {
      height: 820px;
      background: url(../images/index-bg.png) center; } }
  .co-branding .co-brnadingImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 992px) {
      .co-branding .co-brnadingImages {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (max-width: 992px) {
      .co-branding .co-brnadingImages li {
        width: 100%;
        margin-bottom: 32px; } }
    @media screen and (max-width: 767px) {
      .co-branding .co-brnadingImages li {
        margin-bottom: 24px; } }
  .co-branding .co-brandingImage a {
    height: 100%; }
  @media screen and (max-width: 767px) {
    .co-branding .co-brandingImage {
      height: 240px; }
      .co-branding .co-brandingImage img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; } }

.customRecommend-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px; }
  .customRecommend-list li {
    width: 24%;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media screen and (max-width: 992px) {
      .customRecommend-list li {
        width: 48%; } }
    @media screen and (max-width: 767px) {
      .customRecommend-list li {
        width: 100%;
        margin-top: 16px; } }
  @media screen and (max-width: 992px) {
    .customRecommend-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      row-gap: 24px; } }
  @media screen and (max-width: 767px) {
    .customRecommend-list {
      row-gap: 16px; } }
  .customRecommend-list .recommendation-content {
    height: 205px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .customRecommend-list .recommendation-content span {
      color: #707070;
      margin-top: auto; }

.contact p {
  max-width: 636px;
  margin: 0 auto 24px auto; }
  @media screen and (max-width: 992px) {
    .contact p {
      font-size: 16px; } }

.contact form {
  max-width: 636px;
  margin: auto; }

.contact label {
  display: block; }

.contact input:not([type='checkbox']) {
  width: 100%;
  height: 36px; }
  .contact input:not([type='checkbox'])::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .contact input:not([type='checkbox'])::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .contact input:not([type='checkbox']):-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .contact input:not([type='checkbox'])::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2); }
  .contact input:not([type='checkbox'])::placeholder {
    color: rgba(0, 0, 0, 0.2); }

.contact textarea {
  width: 100%;
  height: 136px;
  resize: none;
  border: solid 2px; }

.contact .input-checkbox {
  width: 20px;
  height: 20px; }

.contact .label-checkbox {
  display: inline;
  vertical-align: top; }
  @media screen and (max-width: 767px) {
    .contact .label-checkbox {
      margin-bottom: 24px; } }

.contact .button-submit[type='submit'] {
  width: 65%;
  height: 56px;
  display: block;
  margin: 48px auto 0;
  border: none;
  font-family: 'Noto Sans TC';
  cursor: pointer; }
  .contact .button-submit[type='submit']:hover {
    background-color: #650300; }
  @media screen and (max-width: 767px) {
    .contact .button-submit[type='submit'] {
      width: 100%;
      margin: 24px auto 0; } }

.optical-navbar .optical-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 992px) {
    .optical-navbar .optical-menu {
      padding: 0; } }

.optical-navbar .optical-menu-item {
  width: 33.33%;
  text-align: center;
  border-left: solid 1px #DCDCDC;
  border-right: solid 1px #DCDCDC;
  position: relative; }
  .optical-navbar .optical-menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 0;
    background-color: #AA0601;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  .optical-navbar .optical-menu-item:hover::after {
    width: 100%; }
  .optical-navbar .optical-menu-item.active::after {
    width: 100%; }

.optical-navbar a {
  font-size: 32px; }
  @media screen and (max-width: 992px) {
    .optical-navbar a {
      padding: 16px 0;
      font-size: 24px; } }
  @media screen and (max-width: 767px) {
    .optical-navbar a {
      font-size: 16px; } }

.optical-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.optical-products .optical-name-ch {
  font-size: 32px; }

@media screen and (max-width: 767px) {
  .optical-products h2,
  .optical-products .optical-name-ch {
    font-size: 24px;
    margin-bottom: 24px; } }

.optical-products .optical-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 80px; }
  @media screen and (max-width: 992px) {
    .optical-products .optical-products-list {
      row-gap: 40px; } }
  @media screen and (max-width: 767px) {
    .optical-products .optical-products-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      row-gap: 24px; } }

.optical-products .optical-product-item {
  width: 306px;
  cursor: pointer;
  position: relative; }
  .optical-products .optical-product-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  @media screen and (max-width: 992px) {
    .optical-products .optical-product-item {
      width: 45%; } }
  @media screen and (max-width: 767px) {
    .optical-products .optical-product-item {
      width: 100%;
      max-width: 348px; } }

.optical-products .optical-product-img {
  height: 168px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .optical-products .optical-product-img {
      height: unset; } }

.optical-products .optical-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.optical-products .optical-product-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .optical-products .optical-product-colors .optical-product-color {
    border-radius: 4px;
    width: 24px;
    height: 24px; }
  .optical-products .optical-product-colors .optical-product-color1 {
    background-color: #5F3E2D; }
  .optical-products .optical-product-colors .optical-product-color2 {
    background-color: #B75929; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 767px) {
    .pagination {
      margin-top: 64px; } }
  .pagination a {
    font-size: 18px; }
    @media screen and (max-width: 767px) {
      .pagination a {
        font-size: 16px; } }
  .pagination .pagination-pre,
  .pagination .pagination-next {
    border: solid 1px #555; }
    .pagination .pagination-pre a,
    .pagination .pagination-next a {
      padding: 12px; }
    .pagination .pagination-pre:hover,
    .pagination .pagination-next:hover {
      background-color: #F2F2F2; }
  .pagination .pagination-next {
    border-left: none; }
  .pagination .pagination-page {
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    border-right: solid 1px #555; }
    .pagination .pagination-page a {
      padding: 12px 16px; }
    .pagination .pagination-page.active, .pagination .pagination-page:hover {
      color: #fff;
      background-color: #000; }

/*# sourceMappingURL=all.css.map */
